.sponsors-page {
  width: 100%;
  height: 100%;
}

.sponsors-title {
  font-family: "Into The Void";
  color: #F2F2F2;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 48px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.sponsors-card {
  position: relative;
  border-radius: 2rem;
  border: 3px solid #8CE8E5;
  overflow: hidden;
  width: 82rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 41rem 41rem;
  margin-top: 9rem;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 23rem;
    border: 1px solid #8CE8E5;
    gap: 1rem;
  }
}


.associate_sponsor-1 .sponsors-card-content {
  @media screen and (max-width: 768px) {
    margin: 0 auto 0 auto;
  }
}

.associate_sponsor-2 {
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.associate_sponsor-2 .sponsors-card-content {
  @media screen and (max-width: 768px) {
    margin: 0 auto 6rem auto;
  }
}

.digital_ally {
  @media screen and (max-width: 768px) {
    height: 33rem;
  }
}

.digital_ally .sponsors-card-content {
  @media screen and (max-width: 768px) {
    margin: 0 auto 8rem auto;
  }
}


.sponsors-card-content {
  margin: 3rem 2rem 3rem 1rem;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

.sponsors-card-title {
  position: relative;
  left: 3rem;
  color: #F2F2F2;
  font-size: 3rem;
  margin-top: 20px;
  font-family: Into The Void;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
    font-size: 1.6rem;
    left: 1rem;
  }
}

.sponsors-card-description {
  color: #F2F2F2;
  font-size: 1.5rem;
  margin: 20px 0;
  width: 35rem;
  height: 11.46667rem;
  flex-shrink: 0;
  font-family: Comfortaa;
  position: relative;
  left: 3rem;

  @media screen and (max-width: 768px) {
    margin-top: 0;
    font-size: 0.9rem;
    left: 1rem;
    width: 20rem;
    height: 7rem;
  }
}

.sponsors-card-bg-img {
  width: 90%;
  margin-top: 5rem;
  margin-left: 1rem;
  @media screen and (max-width:768px) {
    margin: 0 auto;
  }
}

.associate_sponsor-1 .sponsors-card-bg-img {
  margin-top: 7rem;
  margin-left: 2rem;
  @media screen and (max-width: 768px){
    width: 80%;
    margin: 3rem auto 0 auto;
  }
}

.associate_sponsor-2 .sponsors-card-bg-img {
  margin-top: 7rem;
  margin-left: 2rem;
  @media screen and (max-width: 768px){
    width: 80%;
    margin: 0 auto 0 auto;
  }
}

.title_sponsor .sponsors-card-bg-img {
  margin-top: 7rem;
  margin-left: 2rem;
}

.digital_ally .sponsors-card-bg-img {
  width: 60%;
  margin-top: 2rem;
  margin-left: 5rem;

  @media screen and (max-width: 768px){
    width: 60%;
    margin: 1rem auto 0 auto;
  }

}

.sponsors__icon-container {
  display: inline-flex;
  gap: 2rem;
  position: relative;
  left: 3rem;

  @media screen and (max-width:768px) {
    gap: 1rem;
    left: 1rem;
  }
}

.sponsors__icon {
  width: 2rem;
  height: 2rem;

  @media screen and (max-width:768px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width:768px){
.title_sponsor {
    flex-direction: column-reverse;
}

.title_sponsor .sponsors-card-content {
  margin: 0 auto 3rem auto;
  }
  .title_sponsor .sponsors-card-bg-img{
    width: 80%;
    margin: 0 auto 0 auto;
  
}
}
