.custom-navbar {
    color: #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* ALPHHA VALUES FOR BLURR EFFECT */
    border-radius: 15px;
    backdrop-filter: blur(10px); /* BLUR RADIUS  */
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:768px ){
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 17rem;
    }

  }

.nav-content {
    display: inline-flex;
    @media screen and (max-width:768px ){
      display: flex;
      flex-direction: column;
    }
}

.navbar-container {
  display: inline-flex;
  @media screen and (max-width:768px ){
    display: flex;
    flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 17rem; 
  }
}

 .reg-button {
  font-size: 1.4rem;
  background-color: #8ce8e5;
  color: #000000;

  @media screen and (max-width:768px ){
    width: 80%;
    text-align: center;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    
  }
 
}

  .bg-dark {
    --bs-bg-opacity: none;
  }
  .brand-logo-nav {
    width: 250px;
    height: auto;

    @media screen and (max-width: 768px) {
      width: 170px;
      height: auto;
    }
  }
  
  .nav-itmes {
    width: 100%;
    color: #e6e6e6;
    font-size: 22px;
    font-weight: 400;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    font-size: 1.4rem;
    color: #F2F2F2;
    font-family: Comfortaa;
    margin-left: 0.5rem;

    @media screen and (max-width:768px ){
      flex-direction: column;
      gap: 0;
      font-size: 1.2rem;
      text-align: center;
    }
}