* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

.container {
  margin-bottom: 4rem;
}

body::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.btn {
  --bs-btn-border-color: #8ce8e5;
  --bs-btn-hover-border-color: #8ce8e5;
  font-family: Comfortaa;
  font-size: 20px;
  font-size: 1.4rem;
  background-color: #8ce8e5;
  color: #000000;

  @media screen and (max-width:768px ){
    text-align: center;
    
  }
}

.btn:hover {
    font-size: 1.4rem;
    background-color: #000000;
  
}
.btn.active {
  font-size: 1.4rem;
  background-color: #79c5c3;
  color: #000000;
  border-color: #000000;
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    text-align: center;
  }
}
.btn.disabled {
  font-size: 1.4rem;
  background-color: #8ce8e5;
  color: #000000;
  border-color: #000000;
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    text-align: center;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Into The Void';
  src: local('Into The Void'), url(./fonts/into_the_void/Into-The-Void.ttf) format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url(./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('truetype');
}
