.sponsors  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21rem;
  scroll-snap-type: y mandatory;

  @media screen and (max-width: 768px) {
    gap: 4rem;
  }
}

.associate {
  width: 40%;
  height: auto;

  @media screen and (max-width: 768px) {
    width: 40%;
  height: auto;
  }
}

.registrations-open-soon {
  font-family: Comfortaa;
  text-align: center;
  color: #6F61C0;
}

.about-card {
  position: relative;
  border-radius: 2rem;
  border: 3px solid  #8CE8E5;
  overflow: hidden;
  width: 82rem; 
  height: auto;

  @media screen and (max-width: 768px) {
    width: 24rem;
    border: 1px solid  #8CE8E5;
  }
  
}

.about-card-content {
  margin-top: 13rem;

  @media screen and (max-width: 768px) {
    margin-top: 7rem;
  }
}

.about-card-title {
  position: relative;
  left: 40rem;
  color: #F2F2F2;
  font-size: 3.2rem;
  margin-top: 20px;
  font-family: Into The Void;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
    font-size: 1.6rem;
    left: 2rem;
  }
}

.about-card-description {
  color: #F2F2F2;
  font-size: 1.6rem;
  margin: 20px 0;
  width: 36rem;
  height: 17.46667rem;
  flex-shrink: 0;
  font-family: Comfortaa;
  position: relative;
  left: 40rem;

  @media screen and (max-width: 768px) {
    margin-top: 0;
    font-size: 0.9rem;
    left: 2rem;
    width: 20rem;
  }
}

.about-card-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-theme {
  position: relative;
  border-radius: 2rem;
  border: 3px solid #6F61C0;
  overflow: hidden;
  width: 82rem; 
  height: 37rem;

  @media screen and (max-width: 768px) {
    width: 24rem;
    border: 1px solid  #6F61C0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
}

.about-theme-content {
  margin-top: 10rem;

  @media screen and (max-width: 768px) {
    margin-top: 4rem;
  }
}

.about-theme-title {
  position: relative;
  left: 6rem;
  color: #F2F2F2;
  font-size: 3.2rem;
  margin-top: 10px;
  font-family: Into The Void;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
    font-size: 1.6rem;
    left: 2rem;
  }
}

.about-theme-title-1 {
  position: relative;
  left: 6rem;
  color: #F2F2F2;
  font-size: 4.7rem;
  margin-top: 20px;
  font-weight: 700;
  font-family: Montserrat;
  @media screen and (max-width: 768px) {
    margin-top: 10px;
    font-size: 1.8rem;
    left: 2rem;
  }
}

.about-theme-description {
  color: #F2F2F2;
  font-size: 1.5rem;
  margin: 20px 0;
  width: 74rem;
  height: auto;
  flex-shrink: 0;
  font-family: Comfortaa;
  position: relative;
  left: 6rem;

  @media screen and (max-width: 768px) {
    margin-top: 3rem;
    font-size: 0.9rem;
    left: 2rem;
    width: 20rem;
  }
}

.about-theme-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-prize {
  display: grid;
  gap: 2rem;
  grid-template-columns: 50rem 50rem;
  position: relative;
  border-radius: 2rem;
  border: 3px solid #8CE8E5;
  overflow: hidden;
  width: 82rem; 
  height: auto;
  @media screen and (max-width: 768px) {
    width: 24rem;
    border: 1px solid  #8CE8E5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
}

.about-prize-content {
  margin-top: 10rem;

  @media screen and (max-width: 768px) {
    margin-top: 4rem;
  }
}

.about-prize-title {
  position: relative;
  left: 9rem;
  color: #F2F2F2;
  font-size: 3.2rem;
  margin-top: 20px;
  font-family: Into The Void;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
    font-size: 1.6rem;
    left: 2rem;
  }

  
}

.about-prize-title-1 {
  position: relative;
  left: 9rem;
  color: #F2F2F2;
  font-size: 5.625rem;
  margin-top: 20px;
  font-weight: 700;
  font-family: Into The Void;

  @media screen and (max-width: 768px) {
    margin-top: 10px;
    font-size: 1.8rem;
    left: 2rem;
  }
}

.about-prize-description {
  color: #F2F2F2;
  font-size: 1.5rem;
  margin: 20px 0;
  width: 85rem;
  height: auto;
  flex-shrink: 0;
  font-family: Comfortaa;
  position: relative;
  left: 9rem;

  @media screen and (max-width: 768px) {
    margin-top: 0;
    font-size: 0.9rem;
    left: 2rem;
    width: 20rem;
  }

}

.about-prize-bg-img {
  width: 27.90206rem;
  height: 25.59194rem;
  margin-left: 1rem;
  margin-top: 6rem;


  @media screen and (max-width: 768px) {
    margin-top: 0;
    width: 75%;
    height: 50%;
  }
}

.about-club {
  display: grid;
  gap: 2rem;
  grid-template-columns: 50rem 50rem;
  position: relative;
  border-radius: 2rem;
  border: 3px solid #8CE8E5;
  overflow: hidden;
  width: 82rem; 
  height: auto;

  @media screen and (max-width: 768px) {
    width: 24rem;
    border: 1px solid  #6F61C0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
  }
}

.about-club-content {
  margin-top: 3rem;
}

.about-club-title {
  position: relative;
  left: 6rem;
  color: #F2F2F2;
  font-size: 3.2rem;
  margin-top: 20px;
  font-family: Into The Void;

  @media screen and (max-width: 768px) {
    margin-top: 10px;
    font-size: 1.6rem;
    left: 2rem;
  }
}

.about-club-title-1 {
  position: relative;
  left: 6rem;
  color: #F2F2F2;
  font-size: 5.625rem;
  margin-top: 20px;
  font-weight: 700;
  font-family: Into The Void;

  @media screen and (max-width: 768px) {
    margin-top: 10px;
    font-size: 1.8rem;
    left: 2rem;
  }
}

.about-club-description {
  color: #F2F2F2;
  font-size: 1.5rem;
  margin: 20px 0;
  width: 43rem;
  height: auto;
  flex-shrink: 0;
  font-family: Comfortaa;
  position: relative;
  left: 6rem;

  @media screen and (max-width: 768px) {
    margin-top: 2rem;
    font-size: 0.9rem;
    left: 2rem;
    width: 20rem;
  }
}

.about-club-bg-img {
  width: 27.125rem;
  height: 24.125rem;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    margin-top: 0;
    width: 75%;
    height: 50%;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
  }

}

.digital-ally {
  width: 125%;
  @media screen and (max-width: 768px) {
    width: 30%;
  }
}
.title-sponsor {
  width: 80%;
  @media screen and (max-width: 768px) {
    width: 60%;
  }
 
}

.ass {
  display: inline-flex;
  gap: 4rem;
  width: 100%;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.title-heading {
  @media screen and (max-width: 768px){
    font-size: 1rem;
  }
}

.associate-heading {
  @media screen and (max-width: 768px){
    font-size: 0.9rem;
  }
}

.digital-heading {
  @media screen and (max-width: 768px){
    font-size: 0.7rem;
  }
}

.sponsor-title, .sponsor-associate, .sponsor-ally {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: Montserrat;
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin: 10rem;
  @media screen and (max-width: 768px) {
    gap: 5rem;
    margin: 1rem;
  }

}

.brand-logo {
  width: 100%;
  height: auto;

  @media screen and (max-width:768px) {
    width: 90%;
  }
}
