
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    
   
      
    body {
        background-color: black;
        color: white;
        flex-wrap: wrap;
        align-items: center;
      }
      /* custom scroll bar */
      ::-webkit-scrollbar {
          width: 10px;
      }
      ::-webkit-scrollbar-track {
          background: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
          background: #888;
      }
      ::selection{
        background: rgb(0,123,255,0.3);
      }   
    
    :root {
      --primary-color: mediumslateblue;
    }
    
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    h1, h2, h3, p {
      margin: 0;
      font-style: 'nt_yakione';
    }


/* navigation */
  
.navbar {
  color: #e6e6e6;
  margin-left: 10%;
  top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8); 
  border-radius: 15px;
  backdrop-filter: blur(10px); 
  position: sticky;
  
  z-index: 100;
}

.navbar-logo {
  width: 25%; 
  height: auto;
  border-radius: 20%;
  display: flex;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  margin-left: 1em;
  margin-right: 0.2em;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  color: #e6e6e6;
  font-size: 1.3em;
  font-weight: 400;
  word-wrap: break-word
}

.navbar-link {
  margin: 1em;
  text-decoration: none;
  color: #e6e6e6; 
}

.navbar-login {
  display: flex;
  padding: 1.5em;
  justify-content: center;
  align-items: center;
  height: 0.5em;
  width: 15%;
  color: #000;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: var(--Water-Leaf, #8CE8E5);
}
.navbar-register {
  display: flex;
  font-style: 'nt_yakione';
  padding: 15px 28px;
  margin-top: 70vh;
  margin-left: 43.5%;
  justify-content: left;
  align-items: center;
  height: 3.5em;
  width: 7em;
  
  color: #000;
  font-size: 1.5em;
  font-weight: 200;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: var(--Water-Leaf, #8CE8E5);
} */


/* @media (max-width:600px){
    .navbar{
      background-color: #3498db;
      gap: -0.5em;
      margin-left: 5%;
      margin-right: 5%;
      width: fit-content;


    }
    .navbar-link {
      padding: 0;
    }
    .navbar-logo{

    }
    .navbar-links{
      gap: 0.25vw;
      font-size: 0.5em;
    }
    .navbar-login {
      height: 3vh;
      font-size: 0.5em;
      width: 3em;
      padding: 1em;
      margin-left: -1em;
    }
}

  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
  
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
  
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
  
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
  
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
  
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
  
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
  
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
  
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
  
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
  
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  

/* Hero section styles */
.a {
    /* background: url("https://s6.gifyu.com/images/S8jUM.gif") no-repeat;
    background-size: cover;*/
    width: 100%;
    height: 100vh;
    z-index: -1;
  }


.glitch-effect {
  text-align: center;
  font-size: 5em;
  color: white;
  position: relative;
  display: inline-block;
  margin-left: 43.5%;
  top: 58vh;
}

.glitch-effect:before,
.glitch-effect:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch-effect:before {
  left: 2px;
  text-shadow: -3px 0 red;
  clip: rect(44px, 450px, 150px, 0);
  animation: glitch-anim-1 8s infinite linear alternate-reverse;
}
.glitch-effect:after {
  left: -2px;
  text-shadow: -3px 0 blue;
  clip: rect(86px, 450px, 140px, 0);
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
}
@keyframes glitch-anim-1 {
  0%, 100% {
    clip: rect(44px, 600px, 150px, 0);
  }
  2%, 10%, 18%, 26%, 34%, 42%, 50%, 58%, 66%, 74%, 82%, 90%, 98% {
    transform: scaleY(0.7);
    clip: rect(25px, 600px, 90px, 0);
  }
  6%, 14%, 22%, 30%, 38%, 46%, 54%, 62%, 70%, 78%, 86%, 94% {
    transform: scaleY(1);
  }
}
@keyframes glitch-anim-2 {
  0%, 100% {
    clip: rect(86px, 600px, 140px, 0);
  }
  2%, 10%, 18%, 26%, 34%, 42%, 50%, 58%, 66%, 74%, 82%, 90%, 98% {
    transform: scaleY(1);
    clip: rect(14px, 600px, 64px, 0);
  }
  6%, 14%, 22%, 30%, 38%, 46%, 54%, 62%, 70%, 78%, 86%, 94% {
    transform: scaleY(0.7);
  }
}

.gif{
  font-family: 'nt_yakione', sans-serif;
  text-transform: uppercase;
  font-size: 11vw;
  text-align: center;
  margin-top: 10vh;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  word-wrap: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: nowrap;
  Width:50vw;
  Height:30%;
}


/* -------------------------------------------------- Glitch for Heading Ends------------------------------------------------*/



  .sponsor1 {
    max-width: 1250px;
    height: 624px;
    text-align: center;
    margin: 120px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #3498db; /* Border color - blue */
    border-radius: 10px; /* Border radius for rounded corners */
    background: black; /* Linear gradient from black to blue */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift */
    font-size: 30px;
  }
  .sponsor2 {
    max-width: 1250px;
    height: 624px;
    text-align: center;
    margin: 120px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #3afff8; /* Border color - blue */
    border-radius: 10px; /* Border radius for rounded corners */
    background: black; /* Linear gradient from black to blue */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift */
    font-size: 30px;
  }

  .about-us {
    max-width: 1250px;
    height: 624px;
    text-align: Center;
    margin: 120px auto;
    padding: 20px;
    background-image: url('/images/about.png');
    box-sizing: border-box;
    border: 2px solid #e0fa34; /* Border color - blue */
    border-radius: 10px; /* Border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift */
    
  }

  .about-us-content {
    flex: 2; /* Takes up the remaining space */
    margin-top: 60px;
    padding-left: 20px; /* Adjust the padding as needed */
    margin-left:600px ;
    align-content: right;
    text-align: left;
    align-items: right;
    
}
.about-us p{
  font-size: 20px;
}

.about-us h2{
  font-size: 3.4em;
}

.about-us-content h2 {
    font-size: 3em;
    margin-bottom: 10px; /* Optional: Add space below the heading */
}
.about-us-more {
  
  padding-right: 30px;
  padding-top: 5px;
  left: 100%;
  justify-content: left;
  align-items: center;
  height: 70px;
  width: 180px;
  
  color: #000;
  font-size: 22px;
  font-weight: 200;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: var(--Water-Leaf, #8CE8E5);
}

  .theme {
    max-width: 1250px;
    font-size: 30px;
    height: 624px;
    margin: 120px auto;
    padding: 20px;
    background-image: url('/images/theme.png');
    box-sizing: border-box;
    border: 2px solid #49ff64; /* Border color - blue */
    border-radius: 10px; /* Border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift */
   
    
  }
  .theme-content{
    margin-top: 10px;
    text-align: left;
    margin-left: 2em;
  }

  .prize {
    max-width: 1250px;
    height: 624px;
    display: flex;
    align-items: center;
    margin: 120px auto;
    padding: 20px;
    background-color: #000;
    box-sizing: border-box;
    border: 2px solid #d249ff; /* Border color - blue */
    border-radius: 10px; /* Border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift */
    font-size: 30px;
  }
  .image-container-prize {
    flex: 0 0 40%; /* Takes up 40% of the section, but not more */
}

.image-container-prize img {
    width: 100%; /* Make the image fill its container */
    border-radius: 8px; /* Optional: Add rounded corners to the image */
}

/* Style for the content on the right */
.content-prize {
    flex: 1; /* Takes up the remaining space */
    padding-left: 20px; /* Adjust the padding as needed */
}

.content-prize h2 {
    font-size: 1.5em;
    margin-bottom: 10px; /* Optional: Add space below the heading */
}

.techbizz {
  max-width: 1250px;
  height: 624px;
  display: flex;
  align-items: center;
  margin: 120px auto;
  padding: 20px;
  background-color: #000;
  box-sizing: border-box;
  border: 2px solid #1751a9; /* Border color - blue */
  border-radius: 10px; /* Border radius for rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift */
  font-size: 30px;
}
.image-container-techbizz {
  flex: 0 0 40%; /* Takes up 40% of the section, but not more */
}

.image-container-techbizz img {
  width: 100%; /* Make the image fill its container */
  border-radius: 8px; /* Optional: Add rounded corners to the image */
  height: fit-content;
}

/* Style for the content on the right */
.content-techbizz {
  flex: 1; /* Takes up the remaining space */
  padding-left: 20px; /* Adjust the padding as needed */
}

.content-techbizz h2 {
  font-size: 1.5em;
  margin-bottom: 10px; /* Optional: Add space below the heading */
}






  /* Additional styling for content within the box */



.container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
  font-size: 90px;
}




/*-------------------------------------DEMO FOOTER--------------------------------------------------------*/

