@font-face {
    font-family: 'nt_yakione';
    src: url('/fonts/Into-The-Void.ttf') format('ttf'),
         url('/fonts/Into-The-Void.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nt_yakithree';
    src: url('Ali') format('ttf'),
         url('/fonts/Into-The-Void.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nt_yakitwo';
    src: url('/fonts/Into-The-Void.ttf') format('ttf'),
         url('/fonts/Into-The-Void.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
